.login-container {
  margin-top: 80px; /* ajuste selon la hauteur de ton header */
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.login-container form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

button {
  padding: 10px;
  cursor: pointer;
}
