// Angular Material theming (Material 3)
@use '@angular/material' as mat;

/*
  Thème Material appliqué UNIQUEMENT aux variables
  (pas de contraintes de layout)
*/
:root {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

/* Reset de base */
html,
body {
  height: 100%;
  margin: 0;
}

/* Body global */
body {
  color-scheme: light;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  background-color: #f5f7fb;
  color: var(--mat-sys-on-surface);

  padding-top: 70px; /* navbar fixed */
  overflow-x: hidden; /* empêche tout décalage horizontal */
}
